.containerAll {
  background-color: #212121;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.button {
  width: fit-content;
}

.buttonCategory {
  width: fit-content;
}

.containerFilters {
  background-color: rgb(67, 62, 67);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0 5px 0;
  padding: 5px;
  width: 100%;
  border: 2.5px solid #0071e2;
  margin-left: 20px;
  border-radius: 10px 10px 10px 10px;
}

.containerFilters h1 {
  font-size: 25px;
}

.containerSorts {
  background-color: rgb(67, 62, 67);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding: 5px;
  border: 2.5px solid #0071e2;
  margin-left: 20px;
  border-radius: 10px 10px 10px 10px;
  font-size: 13px;
}

.containerButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.labelategory {
  background-color: #0071e2;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  padding: 5px;
}

.buttonCategory:hover {
  cursor: pointer;
}

.filtersActive {
  background-color: rgb(67, 62, 67);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  border: 2.5px solid #0071e2;
  margin-left: 20px;
  border-radius: 10px 10px 10px 10px;
  font-size: small;
}

.byCreated {
  background-color: rgb(67, 62, 67);
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border: 2.5px solid #0071e2;
  border-radius: 10px 10px 10px 10px;
  font-size: 13px;
}

.containerLabelCreated {
  display: flex;
  justify-content: center;
}

.filtersActiveLabels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.button {
  background-color: #0071e2;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 501;
  padding: 5px;
}

.socials {
  background-color: rgb(67, 62, 67);
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 20px;
  padding: 5px;
  border: 2.5px solid #0071e2;
  border-radius: 10px 10px 10px 10px;
}

.icons {
  background-color: #0071e200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 35px;
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.icons:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2.5px solid black;
}

.iconsPorfolio {
  font-size: 20px;
  background-color: #0071e200;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  /* gap: 3px; */
}

.iconsPorfolio:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}
