.labelategory {
  background-color: #0071e2;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  padding: 5px;
}

.labelategory:hover {
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 501;
  padding: 5px;
}

.labelategoryActive {
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 501;
  padding: 5px;
}

.labelategoryActive:hover {
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 501;
  padding: 5px;
}

.labelCreated {
  background-color: #0071e2;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  padding: 5px;
  width: 30%;
  text-align: center;
  border: none;
}

.labelCreated:hover {
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 501;
  padding: 5px;
  border: none;
}

.labelCreatedActive {
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: 501;
  padding: 5px;
  width: 30%;
  text-align: center;
}

.selectSort {
  height: 32px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: #0071e2;
  font-weight: 501;
  color: black;
  font-size: 17px;
}

.selectSortActive {
  height: 32px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: black;
  font-weight: 501;
  color: white;
  font-size: 17px;
  border: none;
}
