.containerAll {
  background-color: yellow;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* height: 31.1%; */
}

.button {
  width: fit-content;
}

.buttonCategory {
  width: fit-content;
}

.containerFilters {
  background-color: purple;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  padding: 0 0 5px 5px;
}

.containerSorts {
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin: 5px;
  padding: 5px;
}

.containerButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.labelategory {
  background-color: #0071e2;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  padding: 5px;
}

.buttonCategory:hover {
  cursor: pointer;
}

.filtersActive {
  background-color: purple;
  display: flex;
  align-items: center;
  width: 95%;
  padding: 5px;
}

.byCreated {
  background-color: purple;
  width: 95%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.selectSort {
  text-align: center;
}

.filtersActiveLabels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}
