.containerAll {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.containerFilter {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.containterNavBar {
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 75%;
}
