.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 480px;
  min-height: 150px;
  max-height: 600px;
  overflow-y: auto;
  padding: 2rem 1rem 1rem 1rem;
  background-color: rgb(67, 62, 67);
  border-radius: 35px;
  text-align: center;
}

.modal-succes-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 480px;
  min-height: 150px;
  max-height: 600px;
  overflow-y: auto;
  padding: 2rem 1rem 1rem 1rem;
  background-color: rgb(67, 62, 67);
  border-radius: 35px;
  text-align: center;
}

.modal-image-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: solid 2px black;
  border-radius: 15px;
}

.closeModal {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.134);
  border: none;
  margin: 1rem;
  font-weight: bold;
}

.modal-loader-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 480px;
  min-height: 150px;
  max-height: 600px;
  overflow-y: auto;
  padding: 0rem 1rem 1rem 1rem;
  background-color: rgb(67, 62, 67);
  border-radius: 35px;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #0071e2;
  color: black;
}

.errorIcon {
  width: 15%;
}

.container-icon-text {
  display: flex;
  color: #0071e2;
  justify-content: center;
  align-items: center;
}

.loader {
  --height-of-loader: 6px;
  --loader-color: #0071e2;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: #212121;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1.5s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
