.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 230px;
  background-color: rgb(67, 62, 67);
  border: 4px solid #0071e2;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  grid-column-gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item button:hover {
  background-color: black;
  color: white;
}

.item button {
  background-color: #0071e2;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  padding: 5px;
  border: none;
}

.container ul {
  list-style: none;
  justify-self: center;
  padding: 0;
}

.container img {
  width: 100%;
  border-radius: 30px;
  padding-left: 10px;
}

.item:nth-of-type(1) {
  grid-column: 1 / -1;
  justify-self: center;
  align-items: center;
  padding: 0;
}

.item:nth-of-type(2) {
  grid-row: 2 / 3;
}

.item:nth-of-type(3) {
  overflow: auto;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  text-align: center;
  padding: 0 1rem;
}

.item:nth-of-type(4) {
  grid-row: 3 / 4;
}

.item:nth-of-type(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.item:nth-of-type(6) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.item:nth-of-type(7) {
  display: flex;
  flex-direction: row;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.item:nth-of-type(7) img {
  width: 15%;
}

.imageModal {
  width: 100%;
  max-height: 90vh;
  border-radius: 15px;
  object-fit: cover;
}

.item:nth-of-type(7) img:hover {
  opacity: 0.4;
  cursor: pointer;
}

.container h1 {
  margin: 0;
  padding-top: 20px;
}

.container h3 {
  display: inline;
}

.container h4 {
  display: inline;
  margin: 0;
}

.loader {
  --height-of-loader: 6px;
  --loader-color: #0071e2;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1.5s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.containerImg {
  background-color: rgb(67, 62, 67);
  height: 80%;
  border: 4px solid #0071e2;
  border-radius: 30px;
  margin: 2% 10%;
  font-family: Arial, Helvetica, sans-serif;
  grid-column-gap: 30px;
  padding: 50px;
}

.containerImgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 100%;
}

.imgs {
  width: 100%;
  object-fit: contain;
  border-radius: 50px;
}

.buttonCloseImages {
  display: flex;
  height: fit-content;
  background-color: #0071e2;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  padding: 5px;
  width: fit-content;
  border: none;
}

.buttonCloseImages:hover {
  cursor: pointer;
}

.containerSmallImgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.smallImgs {
  width: 5%;
  border-radius: 10px;
}

.smallImgs:hover {
  cursor: pointer;
  opacity: 0.5;
}

.imageDetail:hover {
  opacity: 0.5;
  cursor: pointer;
}
