.container {
  background-color: rgb(67, 62, 67);
  height: 80%;
  border: 4px solid #0071e2;
  border-radius: 30px;
  margin: 2% 10%;
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  grid-template-rows: 100px 270px 230px;
  font-family: Arial, Helvetica, sans-serif;
  grid-column-gap: 30px;
  padding: 50px;
}

.container ul {
  list-style: none;
  justify-self: center;
  padding: 0;
}

.container img {
  width: 100%;
  border-radius: 30px;
  padding-left: 10px;
}

.item:nth-of-type(1) {
  grid-column: 1 / -1;
  justify-self: center;
  align-items: center;
  padding: 0;
}

.item:nth-of-type(2) {
  grid-row: 2 / 3;
}

.item:nth-of-type(3) {
  overflow: auto;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  text-align: center;
}

.item:nth-of-type(4) {
  grid-row: 3 / 4;
  justify-self: center;
  align-self: flex-start;
}

.item:nth-of-type(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: center;
  align-self: flex-start;
}

.item:nth-of-type(6) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: center;
  align-self: flex-start;
}

.container h1 {
  margin: 0;
  padding-top: 20px;
}

.container h3 {
  display: inline;
}

.container h4 {
  display: inline;
  margin: 0;
}

.loader {
  --height-of-loader: 6px;
  --loader-color: #0071e2;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1.5s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
