.containerAll {
  width: 100%;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: end;
  background-color: #212121;
  min-height: 100vh;
}

.containerFilter {
  position: fixed;
  left: 0;
  width: 24%;
}
.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background-color: #212121;
  width: 75%;
  margin: 1rem 0 3rem 0;
  height: fit-content;
}

.loader {
  --height-of-loader: 6px;
  --loader-color: #0071e2;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: #212121;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1.5s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.noGames {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.prueba {
  position: fixed;
  bottom: 0;
  z-index: 1;
}
