.containerAll {
  background-color: #0071e2;
  border-radius: 15px 15px 0 0;
  display: flex;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  z-index: 99;
}

.containerAll button:hover {
  cursor: pointer;
}

.containerAll button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  font-weight: 400;
  height: 1.4rem;
  line-height: 0;
  justify-content: center;
  min-width: 1.4rem;
  padding: 0;
  background-color: #12508e;
  color: white;
  margin: 0;
}

.containerAll .prevNext {
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0 3px 0 3px;
  margin: 0 7px 0 7px;
  background-color: rgba(255, 0, 0, 0);
}

.containerAll button:hover {
  background-color: #3489dee6;
}

.buttonActive {
  background-color: red;
}

.bla {
  background-color: violet !important;
}
