.container {
  background-color: red;
  display: flex;
  position: sticky;
}

.containerList {
  background-color: rgb(67, 62, 67);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

.error {
  color: white;
}

.contarinerCard {
  background-color: #212121;
  justify-content: center;
  min-height: 100vh;
  width: 75%;
  padding: 10px;
}

.prueba {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: fit-content;
  gap: 30px;
}

.item {
  background-color: #212121;
  width: 90%;
  min-height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 5px;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0071e2;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  padding: 5px;
}

.removeFavs {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0071e2;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  padding: 5px;
  font-size: 1rem;
}

.removeFavs:hover {
  cursor: pointer;
}

.delete {
  background-color: #0071e2;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete:hover {
  background-color: black;
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerButtonsModal {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}

.h1Modal {
  color: #0071e2;
}

.accept {
  border-radius: 10px;
  border: none;
  padding: 0.4rem;
  font-size: 1rem;
  background-color: #0071e2;
}

.accept:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.cancel {
  border-radius: 10px;
  border: none;
  padding: 0.4rem;
  font-size: 1rem;
  background-color: #0071e2;
}

.cancel:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.link {
  color: purple;
}

.error link:hover {
  cursor: pointer;
}
