.container {
  background-color: red;
  display: flex;
}

.containerList {
  background-color: blue;
  width: 30%;
}

.contarinerCard {
  background-color: purple;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 70%;
  justify-content: center;
  padding: 10px 0 10px 0;
}
