.containerAll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 25px;
}

.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.inputReleased {
  width: 90%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.img {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 25px;
}

.card h3 {
  background-color: white;
  padding: 1px 20px 1px 20px;
  border-radius: 15px;
  max-width: fit-content;
  display: flex;
  position: relative;
  top: -30px;
  justify-items: center;
}

.name {
  color: black;
  display: flex;
}

.card h6 {
  padding: 0;
  margin: 0;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -15px;
  gap: 5px;
}

.labels label {
  background-color: #0071e2;
  border-radius: 5px;
  padding: 2px;
  color: black;
  font-weight: 501;
}
/* ************ */

.containerLabels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

.imgGenre {
  width: 60px;
  padding: 5px;
}

.imgGenre:hover {
  cursor: pointer;
}

.containgerGenres {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  padding: 7px;
}

.divContarner {
  background-color: #0071e2;
  background-color: #4f6a85;
  border-radius: 15px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #4f6a85;
  border-radius: 15px;
  width: fit-content;
  padding: 25px;
  height: fit-content;
}

.form input {
  text-align: center;
  margin: 5px;
  font-weight: bold;
  width: 100%;
}

.labelError {
  color: red;
}

.danger {
  color: red;
  margin: 3px;
  font-size: 12.5px;
}

.succes {
  color: green;
  margin: 3px;
  font-size: 12.5px;
}

.containerLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.containerHs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerHs h4 {
  margin: 0;
  padding: 0;
}
