.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
}

.item:nth-of-type(1) {
  padding: 30px;
}

.item:nth-of-type(2) {
  padding: 30px;
  justify-self: center;
}

.card {
  background-color: #0b5fb2d0;
  border-radius: 20px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 1fr 100px;
  justify-items: center;
}

.card h1,
h3,
p {
  margin: 0;
  padding: 0;
}

.img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form input {
  width: 30%;
  text-align: center;
  margin: 10px;
}

.danger {
  color: red;
  font-size: 12.5px;
}

.succes {
  color: green;
  font-size: 12.5px;
}
