.containerAll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 93vh;
}

.prueba {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.platforms {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.inputReleased {
  width: 90%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 360px;
  max-height: 400px;
  object-fit: contain;
  border-radius: 25px;
}

.card h3 {
  background-color: white;
  padding: 1px 20px 1px 20px;
  border-radius: 15px;
  max-width: fit-content;
  display: flex;
  position: relative;
  top: -30px;
  justify-items: center;
}

.name {
  color: black;
  display: flex;
}

.card h6 {
  padding: 0;
  margin: 0;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -15px;
  gap: 5px;
}

.labels label {
  background-color: #0071e2;
  border-radius: 5px;
  padding: 2px;
  color: black;
  font-weight: 501;
}
/* ************ */

.containerLabels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

.imgGenre {
  width: 60px;
  padding: 5px;
}

.imgGenre:hover {
  cursor: pointer;
}

.containgerGenres {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  padding: 7px;
}

.divContarner {
  /* background-color: #0071e2; */
  background-color: #4f6a85;
  border-radius: 15px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.form {
  background-color: #4f6a85;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 25px;
  border-radius: 15px;
}

.form input {
  text-align: center;
  margin: 5px;
  font-weight: bold;
  width: 100%;
  font-size: 1rem;
  background-color: #4f6a85;
}

.form select {
  background-color: #4f6a85;
  font-weight: bold;
  color: black;
}

::placeholder {
  color: rgba(255, 255, 255, 0.574);
}

.labelError {
  color: red;
}

.danger {
  color: red;
  margin: 3px;
  font-size: 12.5px;
}

.succes {
  color: green;
  margin: 3px;
  font-size: 12.5px;
}

.containerLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.containerHs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerHs h4 {
  margin: 0;
  padding: 0;
}

.buttonCreate {
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.buttonCreate:hover {
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.clearAllPlatforms {
  margin-top: 5px;
  width: 100%;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.clearAllPlatforms:hover {
  cursor: pointer;
}
